extends layout

block header
  .intro
    .pilots
      h1 Get ready for requests
      if pilot && pilot.stripeAccountId
        a.button.primary(href='/pilots/dashboard') View dashboard
         a.button.primary(href='/pilots/dashboard-requests') View Playlist

      else
        a.button.primary(href='/pilots/signup') Become a performer

block content
  .features
    section.schedule
      h3 Perform when you want
      p You can be a part of the My Request performer team anytime—you pick your own schedule. Perform as little or as much as you want.
    section.earnings
      h3 Get payed when you want
      p Cash out whenever you want and get instant transfers to your account.
    //- section.app
    //-   h3 Augmented reality app
    //-   p Ready, set, download. Get weather updates, directions, and 24/7 support. Don’t have a smartphone? No problem.

block footer
  .annotation.landing
    a.stripe(href='https://stripe.com') Stripe
    p My Request is a demo for #[a(href='https://stripe.com/connect') Stripe Connect] and #[a(href='https://stripe.com/connect/express') Express]. It is not a real product, yet.

